body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #ffe2bb;
}

h1 {
    font-family: 'Fraunces', serif;
    text-align: center;
    margin-top: 20px;
    font-size: 5em;
    color: #333;
}

.subtitle {
    text-align: center;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-box {
    width: fit-content;
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: inherit;
    border-bottom: 1px solid #333;
}

.search-btn {
    background-color: #ffbd66;
    color: black;
    border: 0;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #eb8600;
}

.section-2 {
    display: flex;
    flex-direction: column;
}

.section-2-1 {
    display: flex;
    flex-direction: row;
}