{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Dish.ly - Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'Groq/index.css' %}">
        <style>
            #Response{
                border: solid black 2px;
            }
            
        </style>
        <title>Dishly - Groq-powered Recipe AI</title>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                document.querySelector('#prompt_form').onsubmit = function(){         
                    prompt = document.querySelector('#prompt').value           
                    
                    fetch("",{
                        method:'POST',
                        body: JSON.stringify({
                            prompt:prompt
                        })
                    })
                    .then(response => response.json())
                    .then(ai_response =>{
                        user_prompt = document.createElement('div')
                        user_prompt.innerHTML = prompt
                        response = document.createElement('div')
                        response.innerHTML = ai_response.response
                        document.querySelector('#Response').append(user_prompt)
                        document.querySelector('#Response').append(response)
                        
                    })
                    return false
                }
                
            })
        </script>
    </head>
    <body>
        
            
            <div id="Response"></div>


            <!--index-->
            <div style="transform: translateY(100px)">
                <h1>Dish.ly</h1>
                <div class="subtitle">Find your favourite dish</div>
                <div class="search-bar" style="justify-content: center; align-items: center;">
                    <div class="search-container">
                        <form id="prompt_form" name="prompt_form" method="post">
                            <input id="prompt" class="search-box" type="text" name="prompt" placeholder="Enter a dish...">
                            <input type="submit" id="submit" class="search-btn">
                        </form> 
                    </div>
                    
                </div>
        
                <div class="section-2" style="justify-content: center; align-items: center;">
                    <p>Customise your dish with...</p>
                    <div class="section-2-1">
                        <button class="search-btn">Advanced Search</button>
                        <button class="search-btn">Reverse Recipes</button>
                    </div>
                </div>
            </div>
        
    </body>
</html>