{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Recipe AI</title>
        <style>
            #Response{
                border: solid black 2px;
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                document.querySelector('#prompt_form').onsubmit = function(){         
                    prompt = document.querySelector('#prompt').value           
                    
                    fetch("",{
                        method:'POST',
                        body: JSON.stringify({
                            prompt:prompt
                        })
                    })
                    .then(response => response.json())
                    .then(ai_response =>{
                        user_prompt = document.createElement('div')
                        user_prompt.innerHTML = prompt
                        response = document.createElement('div')
                        response.innerHTML = ai_response.response
                        document.querySelector('#Response').append(user_prompt)
                        document.querySelector('#Response').append(response)
                        
                    })
                    return false
                }
                
            })
        </script>
    </head>
    <body>
        <form id="prompt_form" name="prompt_form" method="post">
            <input id="prompt" type="text" name="prompt">
            <input type="submit" id="submit">
        </form>
        <div id="Response"></div>
        
    </body>
</html>